@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');

body{

    height: 100vh;
    font-family:"Agency FB",TW cen MT  sans-serif;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    background-color: #080516;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
  }

html{
    font-size: 62,5%;
}
/*------------------------BARRA DE NAVEGAÇÃO----------------------*/
header{
  background-color:#D41c38;
  padding-inline: 16px;

}

header .container {
  align-items: center;
  justify-content: space-between;

  max-width: 980px;
  width: 90%;
  margin: auto;
}
  /*-----------------BARRA DE NAVEGAÇÃO*------------------------*/

.nav{
  max-width: 1280px;
  height: 3rem;
  margin-inline: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #D41c38;
  color: #fff;
  font-size: 20px;
    
}
/*-----------------------MENU DE NAVEGAÇÃO---------------------------*/
.nav-list {
  display: flex;
  gap: 32px;
  text-decoration: none;
  list-style: none; 
  color: #FFF; 
  align-items: center;
    }

.nav-list a{
  text-decoration: none;
  color: #fff;
  padding-block: 10px;
}

.nav-link:hover {
  color: #180545ec; 
}

.nav-link{
 transition: 0.5s ease;

}

.hamburguer{
  display:none;
  cursor: pointer;
  }
.bar{
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 2px;
  margin:5px auto;
  background-color: white;
  transition: all 0.3s ease-in-out;
  }

/*------------------tamanho padrao dos subtitulos -----------------*/
  h2{
    color:#D41c38;
    text-align: center;
    font-size: 2.8rem;  
    margin-top:50px;
   
  }

  /*-------------------------TITULO CAPA-------------------------*/
section.hero {
  margin: 80px 0; 
}

.hero .titulo{
 font-size: min(150px, 13vw);
 letter-spacing:5px;
 line-height:30px;
 text-shadow: 2px 2px  white;
 flex-direction: column;
}
.hero .subtitulo{
  font-size: max(75px , 3vw);
  
}
.hero p {
  color:#D41c38;
  font-size: 3.2rem;
  line-height: 4.6rem;
}
.hero h2{
  color:#D41c38;
  text-align: left;
  font-size: 2.8rem;  
  padding-top:20px;
    
}
section.hero .container {
  height: 90vh;
  width: 90%;
  max-width: 980px;
   
  margin: auto;
  
  flex-direction: column;
  
}

/*----------------------------SOBRE-----------------------------------*/
#sobre .container{
  display: flex; 
  justify-content: space-evenly;
   
  width: 100%;
  padding: 5%;

  color:white;
}

#sobre img{
  height:320px;
  width: 300px;
  box-shadow:  3px 3px #D41c38;
  
}
#sobre .card-text{
  justify-content: baseline;
  text-align: center;
 }
/* |------------------------HABBILIDADES COMPLEMENTARES-------------------|*/

#habilidade{
 background-color: #080516;

}

#habilidades .container {
  width: 90%;
  max-width: 1280px;
  margin: auto;
  padding: 5%;
  margin-top: 5%;
 
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(145px,1fr));
  grid-gap: 10px;

  background-color:#080516;;
  text-align: center;
  
}
#habilidades .container-icons{
  width: 90%;
  max-width: 1280px;
  
  padding-left: 20%;
  margin-bottom: 5%;

  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(130px,1fr));
  grid-gap: 10px;
  text-align: center;
}

.container-icons svg{
  width:115px;
  height: 112px;
  padding-left:10px;
  padding-bottom:10px;
}
/* |----------------------------- PROJETOS ---------------------------------|*/

  #card-projects  {
    width: 90%;
    max-width: 980px;
    margin: auto;
    margin-top: 5%;
   
    
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 25px;
    padding-left: 5%;
    
    background-color: #080516;;
   
    }
    #card-projects h2{
      padding-right: 35px;
    }

.btn {
    width: 250px;
    height: 250px;
        
    border: solid 2px;
    border-color: #D41c38;
    border-radius: 5px;
        
    background-color: transparent;

    align-items: center;
    flex-direction: column;

    cursor: pointer;


  }

.btn:hover{
   background:#a92f4142;
   box-shadow: none;
}

.btn i{
   padding: 4.5rem;
}
     
/* ---------------------- Estilização modal ------------------------*/

#modal1::backdrop{
  background-color: rgba(0, 0, 0, 0.6);
}
#modal2::backdrop{
  background-color: rgba(0, 0, 0, 0.6);
}


#modal3::backdrop{
  background-color: rgba(0, 0, 0, 0.6);

}     
    
#modal {
  position:fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: #FFF;

  z-index: 10;
  width: 500px;
  max-width: 90%;
  padding: 1.2rem;
  border-radius: 0.5rem;

}
.modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.modal-header button{
  background-color: transparent;
  border: none;
 }
.modal-body .container1 {
  display: grid;
  grid-template-columns: 150px 310px;
  grid-template-rows: 150px;
}
.modal-body p{
 margin-bottom: 2rem;
font-size: 22px;
}
.modal-body img{
  height: 120px;
  width: 120px;
}
#modal a{
  font-weight: bold;
  text-decoration: none;
  color: #D41c38;
}
    

 /*------------------------- FORM CONTATO--------------------*/   

 #contato{
  display: grid;
  margin: 10%;

}
#contato .content-box {
  max-width: 980px;
  margin-top: 5%;
    
}
#contato .card-form{
width: 345px;
height: 315px;
padding-top: 15px;
    
border-radius: 4px;
text-align: center;  
}

#contato .card-form input {
  width: 280px;
  height: 35px;
        
  text-align: center;
  border-radius: 4px;
  border: none;

  box-shadow:  2px 2px #D41c38; 

  font-family: Agency FB;
  font-size: 20px;
        
}
    
#form label {
  font-size: 14px;
  font-family: Agency FB;
  padding-bottom: 10px;
  color: white;
  line-height: 25px;
}
    
#form textarea {
  width: 280px;
  height: 80px;
        
  margin-left: 10px;
  margin-right: 10px;

  border: 0;
  box-shadow:  2px 2px #D41c38;
  
  border-radius: 4px;
  resize: vertical;

  font-family: Agency FB;
  font-size: 20px;
  text-align: center;
    }

#form button{
  width: 100px;
  height: 40px;
  margin-top: 10px;
     
  border: none;
  border-radius: 2%;

  color: white;
  background-color: #D41c38;
  box-shadow:  2px 2px #0c0418;
       
  text-align: center;

  }  
    
.container-footer{
  background-color:#D41c38;
  height:50px;
  justify-content: center;
  text-align: center;
} 
.container-footer p{
  text-align: center;
  color: #FFF;
  padding-top:10px;
  font-size: 20px;
} 

@media (max-width:768px){
   html{
    font-size:70%;
  }

.hamburguer{
  display: block;
  cursor: pointer;
 
}
/*----------------animação do nav-bar com X-----------------*/
.hamburguer.active .bar:nth-child(2){
 opacity: 0 ;
}
.hamburguer.active .bar:nth-child(1){
  transform:  translateY(8px) rotate(45deg);
 }

.hamburguer.active .bar:nth-child(3){
        transform:  translateY(-8px) rotate(-45deg);
    }
.nav-list{
  position: fixed;
  left:-100%;
  top:25px;
  gap:0;
  border-radius: 0 0 15px 15px;
  background-color: #D41c38;
  flex-direction: column;
  width: 100%;
  transform: 0.3s;
  justify-content: center;
 }

.nav-list li{
  margin: 16px 0;
}
.nav-list.active{
  left:0;
}

#habilidades .container {
  width: 90%;
  max-width: 768px;
  margin: auto;
  padding: 5%;
  margin-top: 5%;
                 
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(140px,1fr));
  grid-gap: 10px;
   
    
  background-color:#080516;;
  text-align: center;
      
}
.container-icons svg{
  width:80px;
  height: 100px;
  padding-left:10px;
  margin-bottom:30px;
} 

#card-projects{
  width: 90%;
  max-width: 770px;
  margin: auto;
  margin-top: 5%;
     
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
  grid-gap: 18px;
  padding-left: 5%;
  justify-items: center ;
      
    }
    
 }

@media (max-width:630px ){
    
.hero container{ 
  flex-direction: column;
   
} 
.hero .container img{
  order: -1;
}

#sobre .container{
  display: contents;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
          
}    
#sobre .container img{
  order: -1;
}
.container-icons svg{
  width:80px;
  height: 85px;
  padding-left:10px
 
}
#habilidades .container {
  display: grid;
  max-width: 100%;
  margin: auto;
      
  grid-template-rows: 100px 100px;
  grid-template-columns: 240px 240px ;
  grid-gap: 10px;
    
  text-align: center;
}
#habilidades .container-icons {
  display: grid;
  max-width: 100%;
  margin-left: 30px;
      
  grid-template-rows: 100px 100px;
  grid-template-columns: 215px 200px ;
  grid-gap: 10px;
     
  text-align: left;
}

#card-projects {
  display: grid;
  grid-template-rows: 250px ;
  grid-template-columns: 565px;
  gap: 10px;
  justify-items: center;
}

#contato{
   justify-content: center;
}
@media (width > 529px) {
@media (width<630px) {


.hero .subtitulo{
  font-size: 2rem;
}  
       
#sobre  .card-text {
  align-items: center;
  margin-left: 50px;
  padding-left: 50px;
  text-align: center;
  width: 470px;
  }

section.hero .container{
  max-width: 530px;
  height: 40vh;
 }
#sobre .card-text{
  margin-left: 30px;
  justify-content: center;
}   

#habilidades .container-icons{
  padding-left: 80px;
}

#habilidades{
margin-top: 30px;
padding-top: 20px;
}

#habilidades .container {
 max-width: 500px;
 margin: auto;
      
grid-template-rows: 100px 100px;
grid-template-columns: 240px 240px ;
grid-gap: 10px;

text-align: center;
justify-content: center;
}

.hero h2{
  text-align: left;
}
h2{
  text-align: center;
  justify-content: center;
}

#card-projects h2{
  text-align: center;
 }

#card-projects {
 display: grid;
 grid-template-rows: 5px ;
 grid-template-columns: 450px;
 gap: 15px;
 justify-items: center;
 padding-bottom: 50px;
   
}
      
    }
}
} 